<% provide(:title, 'John') %>
<h1>John</h1>
<p>
  John just figured out how to write his first test using TDD!
  <a href="http://1.bp.blogspot.com/-q20NhQKVNXk/T88T1y_rCqI/AAAAAAAAAPQ/760_Tip2bBM/s1600/MC_Hammer_gif.gif">Click for John's celebration dance!</a>.
</p>